<div class="header-section-home">

	<div class="main-navigation-home">

		<nav class="navbar navbar-default navbar-fixed-top navbar-home">

			<div class="preheader">

				<div class="social-media">

					<a class="top-bar-social-share-icon" href="https://www.facebook.com/sokotech/" class="facebook" target="_blank">
						<i class="fab fa-facebook-square nav-social-icon"></i>
				  </a>

					<a class="top-bar-social-share-icon" href="https://www.twitter.com/sokotech/" class="twitter" target="_blank">
						<i class="fab fa-twitter nav-social-icon"></i>
					</a>

					<a class="top-bar-social-share-icon" href="https://www.instagram.com/sokotech/" class="instagram" target="_blank">
						<i class="fab fa-instagram nav-social-icon"></i>
				  </a>

				</div>	<!-- social-media -->

			</div>	<!-- preheader -->

			<div class="container-fluid">

				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>	<!-- button -->

					<a class="navbar-brand" href=""> <img src="{{ "img/00/sokotech_logo_black.svg" | absURL }}" alt="sokotech"> </a>

				</div>	<!-- navbar-header -->

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">

						<li>
							<a href="#">Home</a>
						</li>

						<li>
							<a href="{{ "about" | absURL }}">About</a>
						</li>

						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Projects<span
						class="caret"></span></a>

							<ul class="dropdown-menu">

								<li>
									<a href="{{ "education" | absURL }}">Education</a>
								</li>
								<li>
									<a href="{{ "medialab" | absURL }}">Communication</a>
								</li>
								<li>
									<a href="{{ "events" | absURL }}">Events</a>
								</li>
								<li>
									<a href="{{ "fablab" | absURL }}">Lab / Design</a>
								</li>
								<li>
									<a href="{{ "space" | absURL }}">Space</a>
								</li>

							</ul>	<!-- dropdown-menu -->

						</li> <!-- dropdown -->

						<li>
							<a href="{{ "#contact" | absURL }}">Contact</a>
						</li>

					</ul> <!-- nav navbar-nav -->

				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->

		</nav> <!-- /.main navigation -->

	</div><!-- /.main navigation -->

	<!-- end of sticky nav -->

<!----------- HERO ------------------------>

	<div class="hero">

		<div class="container-fluid">

			<a href="{{ .Site.BaseURL }}"><img class="logo"  src="{{ "img/00/sokotech_logo_white.svg" | absURL }}"></a>

				<div class="hero-description">

					<h1 class="h1-hero-description">We create, test & scale digital social innovation projects, programs & events in the fields of the arts, science & technology</h1>

				</div> <!-- hero-description -->

		</div> <!-- container -->

<!----------- NAV OVERLAY ------------------>

	 <input type="checkbox" id="op"></input>

		<div class="lower">

			<label for="op"> <img class="bg_menu"  src="{{ "img/00/sokotech_nav_menu_icon.svg" | absURL }}"><p class="tmen">Menu</p></label>

		</div> <!-- lower -->

		<div class="overlay overlay-hugeinc">

			<label for="op"></label>

				<nav class="overlay-nav">

					<ul class="overlay-ul">

						<li class="overlay-nav-item"><a href="{{ .Site.BaseURL }}">{{ .item.OverlayNavItemOne }}</a></li>

						<li class="overlay-nav-item"><a href="{{ "about" | absURL }}">About Us</a></li>

						<li class="overlay-nav-item"><a href="{{ "education" | absURL }}">Education</a></li>

						<li class="overlay-nav-item"><a href="{{ "medialab" | absURL }}">Communication</a></li>

						<li class="overlay-nav-item"><a href="{{ "events" | absURL }}">Events</a></li>

						<li class="overlay-nav-item"><a href="{{ "fablab" | absURL }}">Lab / Design </a></li>

						<li class="overlay-nav-item"><a href="{{ "space" | absURL }}">{{ .item.OverlayNavItemSix }}</a></li>

						<li class="overlay-nav-item"><a href="{{ "history" | absURL }}">History</a></li>

					</ul> <!-- ul -->

				<div class="overlay-nav-contact">

							<h6 class="overlay-nav-contact-item">
								<a href="mailto:hola@soko.tech">hola@soko.tech</a>
							</h6>

							<h6 class="overlay-nav-contact-item">
								<a href="tel:=34937638578">+34 93 763 85 78</a>
							</h6>

							<h6 class="overlay-nav-contact-item overlay-nav-contact-item-last">
								<a href="https://www.openstreetmap.org/node/5867783456">Carrer Valles i Ribot, 44 08027, Barcelona</a>
							</h6>

				</div>  <!-- overlay-nav-contact -->


			</nav> <!-- nav -->

		</div> <!-- overlay overlay-hugeinc -->

	</div> <!--bg-img-->

</div>
