<section class="home-companies-section">

	<div class="container">

		<h2 class="h2-title">{{ .item.HomeCompaniesTitle }}</h2>

			<div class="row">

				<div class="companies-logos">

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_ajuntament_barcelona.svg" alt="sokotech ajuntament de barcelona">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_barcelona_activa.svg" alt="sokotech barcelona activa">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_la_caixa_foundation.svg" alt="sokotech la caixa foundation">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_carnegie_mellon.svg" alt="sokotech carnegie mellon">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_decode.svg" alt="sokotech decode">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_decidim.svg" alt="sokotech decidim">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_fira_barcelona.svg" alt="sokotech fira barcelona">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_generalitat_de_catalunya.svg" alt="sokotech generalitat de catalunya">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_gigapan.svg" alt="sokotech gigapan">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_mobile_world_congress.svg" alt="sokotech mobile world congress">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_fablab_barcelona.svg" alt="sokotech fablab barcelona ">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_maker_faire.svg" alt="sokotech maker faire">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_mozilla_foundation.svg" alt="sokotech mozilla foundation">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_sonar_plus_d.svg" alt="sokotech sonar + d">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_nasa.svg" alt="sokotech nasa">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_fundacion_telefonica.svg" alt="sokotech fundacion telefonica">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_orange_foundation.svg" alt="sokotech orange foundation">
						</div>
			    </div>

					<div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							<img class="img-logo" src="../img/01/logos/sokotech_smashing_magazine.svg" alt="sokotech smashing magazine">
						</div>
			    </div>

					<!-- <div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							 <img class="img-logo" src="../img/01/logos/sokotech_mit.svg" alt="sokotech MIT">
						</div>
			    </div> -->

		    </div>  <!-- companies-logos -->

		  </div> <!-- row -->

	</div> <!-- container -->

</section> <!-- home-companies-section -->
