<section class="header-description-page" id="page_description">

	<div class="container description-about">

		<div class="row">

			<div class="col-md-6 col-sm-12 col-xs-12">

					<h2 class="h2-title-pages">{{ .item.AboutTitle }}</h2>

					<h4 class="h4-page-subtitle">{{ .item.AboutSubtitle }}</h4>

					<p class="p-block-description">{{ .item.AboutDescription01 | markdownify }}</p>

					<p class="p-block-description">{{ .item.AboutDescription02 | markdownify }}</p>

					<a href="/history" id="history-button">{{ .item.AboutHistoryButton | markdownify }}</a>

				</div>	<!-- col-->

			<div class="col-md-6 col-sm-12 col-xs-12 video">
				<div class="page-description-img">
					<img src="../img/07/sokotech_about_main_description.jpg" alt="">
				</div>	<!-- video-->
			</div>	<!-- col-->
		</div>		<!--row-->

	  <div id="team-container">

			<h2 class="h2-title">{{ .item.AboutOurTeamTitle }}</h2>

			<h4 class="h4-page-subtitle">{{ .item.AboutOurTeamSubTitle }}</h4>

			<div class="row team-row">
				<div class="col-sm-4 team-element"> <!-- col-md-6 -->
					<img class="team-img" src="../img/07/sokotech_mariona.jpg" alt="sokotech mariona ciller">
					<h2 class="team-title">{{ .item.AboutTeamMemberName01 }}</h2>
					<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle01 }}</h4>
					<p class="team-bio">{{ .item.AboutTeamMemberBio01 }}</p>
				</div>

				<div class="col-sm-4 team-element">
					<img class="team-img" src="../img/07/sokotech_cris.jpg" alt="sokotech cristina checa">
					<h2 class="team-title">{{ .item.AboutTeamMemberName02 }}</h2>
					<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle02 }}</h4>
					<p class="team-bio">{{ .item.AboutTeamMemberBio02 }}</p>
				</div>

				<div class="col-sm-4 team-element">
					<img class="team-img" src="../img/07/sokotech_generic-profile.jpg" alt="generic">
					<h2 class="team-title">{{ .item.AboutTeamMemberName03 }}</h2>
					<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle03 }}</h4>
					<p class="team-bio">{{ .item.AboutTeamMemberBio03 }}</p>
				</div>
				</div>

				<div class="row team-row">
					<div class="col-sm-4 team-element">
						<img class="team-img" src="../img/07/sokotech_generic-profile.jpg" alt="sokotech generic">
						<h2 class="team-title">{{ .item.AboutTeamMemberName04 }}</h2>
						<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle04 }}</h4>
						<p class="team-bio">{{ .item.AboutTeamMemberBio04 }}</p>
					</div>

					<div class="col-sm-4 team-element">
						<img class="team-img" src="../img/07/sokotech_generic-profile.jpg" alt="sokotech generic">
						<h2 class="team-title">{{ .item.AboutTeamMemberName05 }}</h2>
						<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle05 }}</h4>
						<p class="team-bio">{{ .item.AboutTeamMemberBio05 }}</p>
					</div>

					<div class="col-sm-4 team-element">
						<img class="team-img" src="../img/07/sokotech_angela.jpg" alt="sokotech angela precht">
						<h2 class="team-title">{{ .item.AboutTeamMemberName06 }}</h2>
						<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle06 }}</h4>
						<p class="team-bio">{{ .item.AboutTeamMemberBio06 }}</p>
					</div>
					</div>

					<div class="row team-row">
						<div class="col-sm-4 team-element">
							<img class="team-img" src="../img/07/sokotech_marta.jpg" alt="sokotech Marta Berbel">
							<h2 class="team-title">{{ .item.AboutTeamMemberName07 }}</h2>
							<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle07 }}</h4>
							<p class="team-bio">{{ .item.AboutTeamMemberBio07 }}</p>
						</div>

						<div class="col-sm-4 team-element">
							<img class="team-img" src="../img/07/sokotech_albert.jpg" alt="sokotech Albert Bercero">
							<h2 class="team-title">{{ .item.AboutTeamMemberName08 }}</h2>
							<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle08 }}</h4>
							<p class="team-bio">{{ .item.AboutTeamMemberBio08 }}</p>
						</div>

						<div class="col-sm-4 team-element">
							<img class="team-img" src="../img/07/sokotech_paca_ciller.jpg" alt="sokotech paca ciller" >
							<h2 class="team-title">{{ .item.AboutTeamMemberName09 }}</h2>
							<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle09 }}</h4>
							<p class="team-bio">{{ .item.AboutTeamMemberBio09 }}</p>
						</div>
						</div>

						<div class="row team-row">

							<div class="col-sm-4 team-element">
								<img class="team-img" src="../img/07/sokotech_ian.png" alt="sokotech ian">
								<h2 class="team-title">{{ .item.AboutTeamMemberName11 }}</h2>
								<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle11 }}</h4>
								<p class="team-bio">{{ .item.AboutTeamMemberBio11 }}</p>
							</div>

							<div class="col-sm-4 team-element">
								<img class="team-img" src="../img/07/sokotech_uma.png" alt="sokotech uma">
								<h2 class="team-title">{{ .item.AboutTeamMemberName10 }}</h2>
								<h4 class="team-subtitle">{{ .item.AboutTeamMemberTitle10 }}</h4>
								<p class="team-bio">{{ .item.AboutTeamMemberBio10 }}</p>
							</div>

						</div>
			</div>
		</div>

</section> <!-- header-description -->
