<div class="space-areas">

	<div class="container" id="education-upcoming-workshops-title-container">

		<h2 class="h2-title" id="project-tiles-title">Industrial style</h2>

		<h4 class="h4-page-subtitle">Open Space</h4>

	</div> <!-- container -->

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="latest-projects-content-image" src="../img/06/sokotech_space_door.jpg">

			</div> <!-- col -->

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="img-fluid latest-projects-content-image" src="../img/06/sokotech_space_office_02.jpg">

			</div> <!-- col -->

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="latest-projects-content-image" src="../img/06/sokotech_space_lab_02.jpg">

			</div> <!-- col -->

		</div> <!-- row -->

		<div class="row">

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="latest-projects-content-image" src="../img/06/sokotech_space_office_01.jpg">

				</div> <!-- col -->

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="latest-projects-content-image" src="../img/06/sokotech_space_lab_02.jpg">

			</div> <!-- col -->

			<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

						<img class="latest-projects-content-image" src="../img/06/sokotech_space_office_03.jpg">

			</div> <!-- col -->

		</div> <!-- row -->

	</div> <!-- container-fluid -->

</div>
